@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
  background: var(--bg-blue-200, linear-gradient(180deg, #F8FBFF 0%, #E7F3FF 100%));
  width: 100vw;
  height: 100vh;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

@font-face {
  font-family: 'Inter';
  src: url('src/Inter-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}
