:root {
  --white-1: rgba(255, 255, 255, 1);
  --gray-3: rgba(124, 125, 134, 1);
  --black-1: rgba(0, 0, 0, 0.01);
  --black-3-5: rgba(51, 51, 51, 0.05);
  --black-3-40: rgba(51, 51, 51, 0.4);
  --white-50: rgba(255, 255, 255, 0.5);
  --black-3-10: rgba(51, 51, 51, 0.1);
  --gray-1: rgba(250, 250, 250, 1);
  --gray-15: rgba(232, 233, 238, 1);
  --gray-2: rgba(242, 242, 242, 1);
  --gray-25: rgba(225, 225, 225, 1);
  --black-3: rgba(17, 17, 20, 1);
  --black-2: rgba(37, 37, 41, 1);
  --white-10: rgba(255, 255, 255, 0.1);
  --green-50: rgba(236, 255, 247, 1);
  --green-200: rgba(170, 255, 222, 1);
  --green-400: rgba(33, 255, 168, 1);
  --green-500: rgba(0, 242, 137, 1);
  --green-700: rgba(0, 158, 89, 1);
  --green-800: rgba(0, 135, 82, 1);
  --green-950: rgba(0, 57, 33, 1);
  --blue-50: rgba(241, 247, 254, 1);
  --blue-200: rgba(192, 220, 247, 1);
  --blue-400: rgba(72, 161, 232, 1);
  --blue-500: rgba(32, 133, 215, 1);
  --blue-700: rgba(16, 83, 148, 1);
  --blue-950: rgba(16, 46, 81, 1);
  --blue-transparent: rgba(72, 161, 232, 0.6);
  --purple-200: rgba(237, 223, 254, 1);
  --red-50: rgba(253, 244, 243, 1);
  --yellow-200: rgba(255, 240, 216, 1);
  --basicsblue-600: rgba(18, 104, 183, 1);
  --basicsgreen-600: rgba(0, 202, 110, 1);
  --basicsred-600: rgba(194, 50, 63, 1);
  --basicsyellow-alert: rgba(255, 181, 69, 1);
  --h1-bold-font-family: "Inter", Helvetica;
  --h1-bold-font-weight: 700;
  --h1-bold-font-size: 48px;
  --h1-bold-letter-spacing: 0px;
  --h1-bold-line-height: normal;
  --h1-bold-font-style: normal;
  --h1-bold-mobile-font-family: "Inter", Helvetica;
  --h1-bold-mobile-font-weight: 700;
  --h1-bold-mobile-font-size: 36px;
  --h1-bold-mobile-letter-spacing: 0px;
  --h1-bold-mobile-line-height: normal;
  --h1-bold-mobile-font-style: normal;
  --h2-bold-font-family: "Inter", Helvetica;
  --h2-bold-font-weight: 700;
  --h2-bold-font-size: 36px;
  --h2-bold-letter-spacing: 0px;
  --h2-bold-line-height: normal;
  --h2-bold-font-style: normal;
  --h2-light-font-family: "Inter", Helvetica;
  --h2-light-font-weight: 300;
  --h2-light-font-size: 36px;
  --h2-light-letter-spacing: 0px;
  --h2-light-line-height: normal;
  --h2-light-font-style: normal;
  --h3-bold-font-family: "Inter", Helvetica;
  --h3-bold-font-weight: 700;
  --h3-bold-font-size: 24px;
  --h3-bold-letter-spacing: 0px;
  --h3-bold-line-height: normal;
  --h3-bold-font-style: normal;
  --h4-bold-font-family: "Inter", Helvetica;
  --h4-bold-font-weight: 700;
  --h4-bold-font-size: 18px;
  --h4-bold-letter-spacing: 0px;
  --h4-bold-line-height: normal;
  --h4-bold-font-style: normal;
  --h4-light-font-family: "Inter", Helvetica;
  --h4-light-font-weight: 400;
  --h4-light-font-size: 18px;
  --h4-light-letter-spacing: 0px;
  --h4-light-line-height: normal;
  --h4-light-font-style: normal;
  --h4-light-riscado-font-family: "Inter", Helvetica;
  --h4-light-riscado-font-weight: 400;
  --h4-light-riscado-font-size: 18px;
  --h4-light-riscado-letter-spacing: 0px;
  --h4-light-riscado-line-height: normal;
  --h4-light-riscado-font-style: normal;
  --h5-bold-font-family: "Inter", Helvetica;
  --h5-bold-font-weight: 700;
  --h5-bold-font-size: 14px;
  --h5-bold-letter-spacing: 0px;
  --h5-bold-line-height: normal;
  --h5-bold-font-style: normal;
  --h5-light-font-family: "Inter", Helvetica;
  --h5-light-font-weight: 400;
  --h5-light-font-size: 14px;
  --h5-light-letter-spacing: 0px;
  --h5-light-line-height: normal;
  --h5-light-font-style: normal;
  --h5-light-riscado-font-family: "Inter", Helvetica;
  --h5-light-riscado-font-weight: 400;
  --h5-light-riscado-font-size: 14px;
  --h5-light-riscado-letter-spacing: 0px;
  --h5-light-riscado-line-height: normal;
  --h5-light-riscado-font-style: normal;
  --h6-light-font-family: "Inter", Helvetica;
  --h6-light-font-weight: 400;
  --h6-light-font-size: 10px;
  --h6-light-letter-spacing: 0px;
  --h6-light-line-height: normal;
  --h6-light-font-style: normal;
  --h6-bold-font-family: "Inter", Helvetica;
  --h6-bold-font-weight: 700;
  --h6-bold-font-size: 10px;
  --h6-bold-letter-spacing: 0px;
  --h6-bold-line-height: normal;
  --h6-bold-font-style: normal;
  --cta-font-family: "Inter", Helvetica;
  --cta-font-weight: 700;
  --cta-font-size: 18px;
  --cta-letter-spacing: 0px;
  --cta-line-height: normal;
  --cta-font-style: normal;
  --cta-light-font-family: "Inter", Helvetica;
  --cta-light-font-weight: 400;
  --cta-light-font-size: 18px;
  --cta-light-letter-spacing: 0px;
  --cta-light-line-height: normal;
  --cta-light-font-style: normal;
  --p-light-font-family: "Inter", Helvetica;
  --p-light-font-weight: 400;
  --p-light-font-size: 12px;
  --p-light-letter-spacing: 0px;
  --p-light-line-height: normal;
  --p-light-font-style: normal;
  --p-bold-font-family: "Inter", Helvetica;
  --p-bold-font-weight: 700;
  --p-bold-font-size: 13px;
  --p-bold-letter-spacing: 0px;
  --p-bold-line-height: normal;
  --p-bold-font-style: normal;
}